body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.bottom-taskbarnew {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0038E1;
  text-align: center;
  padding: 10px 0;
}
.bottom-taskbarnew button {
  margin: auto;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}
.calculator {
  width: 135px;
  margin: 35px auto;
  background-color: #33c9ff;
  padding: 25px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.calendar-body .days li {
  width: calc(100% / 7);
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}
.calendar-body ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar-body .weeks li {
  width: calc(100% / 7);
  font-weight: 500;
  cursor: default;
}
#calender-box {
  background-color: #00154d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calendar-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#calender-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#CalenderoButton{
  width: 80px; 
  height: 80px; 
  margin-left:30px; 
	margin-top: 1px;
	margin-right: 30px;
  border-radius: 50%; 
  object-fit: contain;
	background: #3ca9ed;
	float:right;
}
#CalenderoButton:hover{
  width: 80px; 
  height: 80px; 
  margin-left:30px; 
	margin-top: 1px;
	margin-right: 30px;
  border-radius: 50%; 
  object-fit: contain;
	background: #2f8ac4;
	float: right;
}
#CalenderUpButton{
  width: 25px; 
  height: 25px; 
  margin-left:30px; 
	margin-top: 1px;
	margin-right: 30px;
  border-radius: 50%; 
  object-fit: contain;
	background: #3ca9ed;
	float:right; 
}
#CalenderUpButton:hover{
  width: 25px; 
  height: 25px; 
  margin-left:30px; 
	margin-top: 1px;
	margin-right: 30px;
  border-radius: 50%; 
  object-fit: contain;
	background: #2f8ac4;
	float: right;
}
.chat-button {
  background: rgb(18, 231, 188);
  color: rgb(0, 0, 0);
  padding: 10px 20px; 
  border: none;
  cursor: pointer; 
}
.chat-button:hover {
  background: #05d38e; 
  color: rgb(0, 0, 0);
}
#clock {
  text-align: center;
  margin-top: 90px;
	background: rgba(20, 12, 239,0.7);
	color: white;
  border-radius: 50%;
  width: 250px;
  height: 250px; 
  line-height: 250px; 
  margin: 90px 644px 0; 
}
.close {
  background-color: #FF6666; 
  border: none;
  border-radius: 50%; 
  color: #FFFFFF; 
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}
.close:hover,
.close:focus {
  background-color: #FF3333; 
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
#current-date {
  font-size: 1.45rem;
  font-weight: 500;	
}
#date-time {
  font-size: 40px;
  font-weight: bold;
color: black;
}
.days li.active {
  color: #ff0000;
}
.days li.active::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #9B59B6;
}
.days li.inactive {
color: #aaa;
}
.days li:not(.active):hover::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
}
#Devil {
  color: #fff;
  background:#ff6666;
  border-radius: 50%;
}
#Devil:hover{
  color: #fff;
  background: #ff3333;
  border-radius: 50%;
}
#display {
  width: 91%;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
  background-color: #e0e0e0;
  border: 0.5px solid #ccc;
  text-align: right;
  border-radius: 2.5px;
}
.icons {
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.icons:hover {
  background: #f2f2f2;
}
#IdhuButton{
  width: 80px; 
  height: 80px; 
  margin-left:30px; 
	margin-top: 1px;
	margin-right: 30px;
  border-radius: 50%; 
  object-fit: contain;
	background: #3ca9ed;
	float:right;
}
#IdhuButton:hover{
  width: 80px; 
  height: 80px; 
  margin-left:30px; 
	margin-top: 1px;
	margin-right: 30px;
  border-radius: 50%; 
  object-fit: contain;
	background: #2f8ac4;
	float: right;
}
iframe {
  background-color: #6BBBED;
  border: none;
}
#iframe {
  border: none;
}
#main-content {
  display: none;
}
@media screen and (orientation: portrait) {
  .modal-content {
    width: 80%; 
    max-height: 50%; 
    margin: 0 0 0 0;
  }
  .resp-container {
    padding-top: 0%;
    width: 40%;
    height: 90%;
  }
}  
#metaAIButton2 {
  background-color: #6BBBED; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  cursor: pointer; 
}
#metaAIButton2:hover {
  background-color: #3ca9ed; 
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; 
  width: 35%; 
  height: 95%;
  overflow: auto;
}
.modal-content {
  background-image: url("https://i.pinimg.com/originals/92/99/40/929940c7800ad3868b0e7828d53073a7.gif");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0 0 0 0; 
  padding: 10%;
  border: 1px solid #888;
  width: 79%; 
  height: 80%;  
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto; 
}
.modalii {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  width: 35%; 
  height: 95%;
  overflow: auto;
}
.modalii-content {
  background-image: url("https://i.pinimg.com/originals/92/99/40/929940c7800ad3868b0e7828d53073a7.gif");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0 0 0 0; 
  padding: 10%;
  border: 1px solid #888;
  width: 79%; 
  height: 80%;  
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto; 
}
#notification-box {
  background-color: #00154d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.number {
  padding: 5px;
  font-size: 9px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.number:hover {
  padding: 5px;
  font-size: 9px;
  background-color: #006de1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.Perplexity-AI {
  position: absolute;
  top: 35%;
  left: 60%;
  padding: 40px 80px;
  font-size: 72px;
  z-index: 9999;
  text-shadow: 0 0 10px rgb(122, 123, 125);
  cursor: pointer;
  background-color: #fff;
  color: #006aff;
  border: #fff;
}
.resp-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding-top: 100%; 
}
.resp-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border: none;
}
#sidebar {
  margin: 0;
  top: 0;
  left: 0;
  padding: 20px;
  width: 500px;
  background-color: #000536;
  position: fixed; 
  height: 100%;
  overflow: auto;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 490px;
  background-color: #000536;
  color: white;
  position: relative; 
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: rgb(174, 174, 174);
  padding: 16px;
  width: 490px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #006eff;
  color: rgb(255, 255, 255);
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: rgb(255, 255, 255);
}
.splash-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.splash-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}
.splash-overlay h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #121111;
}
#togglesidebar{
  color: #fff;
  background:#6BBBED;
  width: 40px;
  height: 40px;
  font-size: 35px;
}
#togglesidebar:hover{
  color: #fff;
  background:#007bff;
}
.trig, .clear, .equal {
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 9px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #dc3545;
}
.trig:hover, .clear:hover, .equal:hover {
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 9px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #c82333;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff748c;
  border: 1px solid black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff8da1;
}
::-webkit-scrollbar-track {
  background: #ff2743;
}
.welcome-button {
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 36px;
  cursor: pointer;
	z-index:9999;
  background-color: #6BBBED; 
  color: white; 
  border-radius: 10%;
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.welcome-button:hover{
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 36px;
  cursor: pointer;
  z-index:9999;
  border-radius: 10%;
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  background-color: #4c9cce; 
  color: white; 
}
#welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}